<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Testing UrlRewriteFilter</display-name>
  <servlet>
    <servlet-name>ScalaServlet</servlet-name>
    <servlet-class>org.stackoverflow.questions.ScalaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScalaServlet</servlet-name>
    <url-pattern>/servlet/scala</url-pattern>
  </servlet-mapping>
  
</web-app>
